body{
	background-color: #3fbff2;
	color: #f9f4d5;
}

#name{
	font-family: 'Signika', sans-serif;
	font-size: 80px;
	letter-spacing: -5px;
	text-align: center;
	margin-top: 65px;
	/*color: #f2723f; */
}

.icons{
	margin-left: 20px;
}

.description{
	margin-bottom: 20px;
	/*color: #f2723f;*/
}

.ghost{
	color: #3fbff2;
}

a{ 
	text-decoration: none;
	color: inherit;
}

.icon{	
	font-size: 3.0em; 
}

.title{
	font-family: 'Marck Script', cursive;
	font-weight: 600;
	font-size: 36px;
	letter-spacing: 1px;
	text-align: center;
}
.links{
	text-align: center;
	/*margin-left: -25px;*/
}

.fa{
	-webkit-transition: all .5s;
	-o-transition: all .5s;
	transition: all .5s;
}
.fa:hover {
  -webkit-transform: scale(1.3) rotate(375deg);
  -ms-transform: scale(1.3) rotate(375deg);
  -o-transform: scale(1.3) rotate(375deg);
  transform: scale(1.3) rotate(375deg);
}
.fa-pencil:hover {
  color: #CF5300;
}
.fa-github:hover {
  color: black;
}
.fa-twitter:hover{
  color: white;
} 
.fa-briefcase:hover{
  color: #98e698;
} 